.kam-t53-handled {
  overflow: hidden;
}

.kam-t53-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50px;
  z-index: 101;

  .kam-t53-container {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    padding: 1rem;
    margin: auto 12px;
    gap: 12px;

    .kam-product-list {
      position: relative;
      display: flex;
      flex-direction: column;
      max-height: calc(181.703px + 0.5rem);
      overflow: hidden;
      margin-top: 28px;

      .kam-product {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0.5rem 0 !important;
        border-bottom: 1px solid #d9d9d9;

        .kam-img-wrapper {
          width: 41.666667%;
          padding: 0 0.75rem;

          .kam-img {
            width: 100%;
            height: 100%;
          }
        }

        .kam-product-info {
          width: 58.333333%;
          padding: 0 0.75rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          .kam-name {
            max-height: 42px;
            overflow: hidden;
            font-weight: 400;
            color: #303030;
            text-decoration: none;
            font-size: 0.875rem;
          }

          .kam-color {
            font-size: 0.875rem;
          }

          .kam-price {
            display: flex;
            flex-direction: row;

            .kam-original {
              white-space: nowrap !important;
              position: relative;
              font-weight: 400;
              font-size: 0.875rem;
            }
          }

          .kam-extra {
            font-size: 0.875rem;
          }
        }

        &:nth-child(2) {
          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 25%;
            background: linear-gradient(
              to bottom,
              rgba(255, 255, 255, 0),
              #fff
            );
          }
        }
      }
    }

    .kam-headline {
      font-weight: 400;
      font-size: 18px;
      line-height: 1;
      font-family: interstate, arial, helvetica, sans-serif;
    }

    .kam-subline {
      font-size: 14px;
      font-family: interstate, arial, helvetica, sans-serif;
    }

    .kam-wish-btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 4px;
      text-decoration: none;
      background-color: #d72085;
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      height: 38px;
      cursor: pointer;
      border-radius: 0.375rem;

      i {
        font-size: 8px;
      }
    }

    .kam-add-cart-btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 4px;
      text-decoration: none;
      background-color: #76b856;
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      height: 38px;
      cursor: pointer;
      border-radius: 0.375rem;

      i {
        font-size: 8px;
      }
    }

    .kam-close-icon-wrapper {
      cursor: pointer;
      display: flex;
      position: absolute;
      top: 12px;
      right: 12px;

      .kam-close-icon {
        display: flex;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
        padding: 0.5rem;
        border-radius: 100%;
        background: #fff;

        .kam-icon-extra {
          height: 0.75rem;
          width: 0.75rem;
          position: absolute;
        }
        .kam-icon {
          display: flex;
          height: 0.75rem;
          width: 0.75rem;
          line-height: 1;
          &:after {
            content: "\f13e";
            font-size: 0.75rem;
            font-family: icons, sans-serif !important;
            font-style: normal;
            font-weight: 400 !important;
            font-feature-settings: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
          }
        }
      }
    }

    .kam-wish-icon-wrapper {
      display: flex;
      position: absolute;
      top: -12px;
      left: 12px;

      .kam-wish-icon {
        display: flex;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
        padding: 0.5rem;
        border-radius: 100%;
        background: #fff;

        .kam-icon-extra {
          background-image: linear-gradient(
            270deg,
            hsla(0, 0%, 100%, 0.3) 50%,
            hsla(0, 0%, 100%, 0) 0
          );
          height: 2rem;
          width: 2rem;
          position: absolute;
        }

        .kam-icon {
          display: flex;
          height: 2rem;
          width: 2rem;
          fill: #76b856;
          line-height: 1;
          font-size: 1.75rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 740px) {
  .kam-t53-wrapper {
    top: 67px;
    .kam-t53-container {
      .kam-close-icon-wrapper {
        display: flex;
        position: absolute;
        top: -24px;
        right: -36px;
      }

      .kam-headline {
        font-size: 22px;
      }
    }
  }
}
